extends layout/main

prepend nav
	- var absolute = true;

block content
	section.height-100.bg--dark.text-center
		.container.pos-vertical-center
			.row
			.col-md-12
				h1.h1--large= error.status
				h2= error.message
				p.lead= error.stack
				a(href='/') Go back to home page
			// end of row
			// end of container
