extends layout/main

block content
    section.text-center
        .container
            .row
                .col-md-10
                    h1 Frequently Asked Questions
                    p.lead
                        | Sub
    section.bg--secondary
        .container
            .row
                .col-lg-6
                    .text-block
                        h5 Will my insurance pay for telegenetic services?
                        p.mb-1
                            | If one of our partner institutions referred you to us, your genetic counseling service might already be covered. Please contact us to learn more.
                        p.mb-1
                            | Some insurances do cover the cost of genetic counseling. We also offer self-pay rates for our patients.
                        p
                            | Most insurance companies will cover the cost of a genetic lab test if it will improve a person’s medical care and they have a reasonable chance of having an inherited condition.
                    .text-block
                        h5 What is an inherited condition?
                        p
                            | An inherited condition is a medical condition or a trait that can be passed down from parent to child. Genes are the instructions that our bodies use to grow and function. If one of these genes has a change in it, it cannot work correctly, which can put us at a higher risk for developing symptoms related to having a variation in that specific gene.
                    .text-block
                        h5 What questions are asked at a genetic counseling appointment?
                        p.mb-1
                            | Which relatives have had symptoms that may indicate an underlying genetic condition?
                        p.mb-1
                            | How old were they when they developed these symptoms?
                        p.mb-1
                            | What type of symptoms did they have?
                        p.mb-1
                            | Has anyone in the family had a diagnosis of a genetic condition?
                        p
                            | Have they had genetic testing? If so, what were the results?
                .col-lg-6
                    .text-block
                        h5 How can genetic counseling help me?
                        p.mb-1
                            | Based on your genetic test results, your doctor may want to offer specialized screening or management options to keep you healthy
                        p.mb-1    
                            | You may want to consider ways to reduce the chance of developing symptoms related to specific genetic findings.
                        p.mb-1
                            | You could share information with your relatives so they can determine their own risk of developing certain genetic conditions and stay healthy.
                    .text-block
                        h5 What is the Genetic Information Non-Discrimination Act?
                        p
                            | The Genetic Information Non-Discrimination Act (GINA) is a federal law passed in 2008. It and other state laws help protect most people undergoing genetic testing against health insurance discrimination and employment discrimination.
    section.text-center
        .container
            .row
                .col-md-8.col-lg-6
                    .cta
                        h2 Still got questions?
                        p.lead
                            | We're here to help
                        a.btn.btn--primary.type--uppercase(href='#')
                            span.btn__text
                                | Contact Us
