extends layout/main

block content
    section.text-center
        .container
            .row
                .col-md-10
                    h1 Partner with AT-GC
                    p.lead
                        | Learn how a partnership with us can benefit your practice and patients.
    section.imageblock.switchable.feature-large.bg--secondary
        .imageblock__content.col-lg-4.col-md-3.pos-right
            .background-image-holder
                img(alt='image', src='img/custom/partners.jpg')
        .container
            .row
                .col-lg-7.col-md-8
                    h2 Partner Benefits
                    p.lead
                        | Organizations offering telegenetic services are viewed as cutting-edge to patients, leading to higher patient satisfaction, compliance, and retention among providers.
                    .feature-large__group
                        .row
                            .col-md-6
                                .feature.feature-2
                                    i.icon.icon-Link.color--primary
                                    .feature__body
                                        p
                                            | With scheduling for genetic counseling services available within 1-2 days of patient referral, AT-GC offers rapid turnaround for expedited patient care.
                            .col-md-6.mt-0
                                .feature.feature-2
                                    i.icon.icon-Doctor.color--primary
                                    .feature__body
                                        p
                                            | Outsourcing genetic counseling services means that valuable physician time can be spent on other aspects of patient care.
                            .col-md-6
                                .feature.feature-2
                                    i.icon.icon-Puzzle.color--primary
                                    .feature__body
                                        p
                                            | Personalized explanations and recommendations related to patient care are sent directly to referring physicians, encouraging continuity of care and ongoing health management.
                            .col-md-6
                                .feature.feature-2
                                    i.icon.icon-Full-Screen.color--primary
                                    .feature__body
                                        p
                                            | AT-GC provides a valuable addition to help complete your scope of service offerings while providing collaboration with a team of genetics experts through processes, technology, and workflow customized to meet your needs.
                            
    section
        .container
            .row.justify-content-center
                .col-md-4
                    .feature
                        h4 Vast Expertise
                        p.text-left
                            | We specialize in all aspects of the genetic counseling process, including pre/post-test genetic counseling, genetic testing implementation, coordination, and interpretation of results. We serve as a liaison between providers and their patients, as well as serving as a link to the genetics laboratory.
                    // end boxed
                
                .col-md-4
                    .feature
                        h4 Fully Flexible
                        p.text-left
                            | We offer contracts to institutions that desire to incorporate the application of genetic testing and counseling into the patient care they provide. Genetic counseling is provided in-office with a telemedicine approach or by phone or video chat in the comfort of the patient’s home.
                    // end boxed
                .col-md-4
                    .feature
                        h4 Board Certified
                        p.text-left
                            | All of our genetic counselors hold current board certification through the American Board of Genetic Counseling. Each counselor has undergone extensive training and education to help patients and their providers interpret genetic results and discuss genetic risk.
                    // end boxed
                .col-md-4
                    .feature
                        h4 Patient Empowerment
                        p.text-left
                            | We believe we are empowering every patient by helping guide their journey through the processes of genetic counseling and genetic testing. Our vision is to bring increased access of quality genetic counseling services to patients across the globe.
                .col-md-4
                    .feature
                        h4 Convenient Access
                        p.text-left
                            | In areas without readily accessible genetic counselors, AT-GC offers a solution by connecting patients to qualified genetics professionals without extensive travel or scheduling concerns. We accept patients from anywhere within the United States and in many international locations.
                .col-md-4
                    .feature
                        h4 Geniuine Care
                        p.text-left
                            | We pride ourselves on a real desire to positively impact the lives of our patients and their families. Allow the caring team at AT-GC help guide, educate, and fulfill your genetic counseling needs.
    section.text-center.space--sm
        .container
            .row
                .col-md-12
                    h2 Clients
    section
        .container
            .row
                .col
                    .slider.slider--inline-arrows.slider--arrows-hover.text-center(data-arrows='true')
                        ul.slides
                            if clients
                                each client in clients
                                    li.col-md-3.col-6
                                        img(alt='Image', src='img/clients/'+client)
    section.text-center.space--sm.bg--secondary
        .container
            .row
                .col-md-12
                    h2 Benefits for your patients
                    p.lead
                        | Learn how we can increase your quality of care and patient satisfaction
    section.text-center.space--xxs.bg--secondary
        .container
            .row
                .col-md-4
                    .feature
                        i.icon.icon-MaleFemale.icon--lg.color--primary
                        h4 Patient-centric Care
                        p
                            | Patient-centric appointments address the genetic as well as psychosocial implications for patients. Appointments are not time-limited, but instead, are concluded based on the patient’s satisfactory understanding.
                .col-md-4
                    .feature
                        i.icon.icon-Books.icon--lg.color--primary
                        h4 Education & Assistance
                        p
                            | Assistance with in-home or in-office test implementation information, personalized prevention and management information and, knowledge regarding the health effects of specific genetic changes come standard.
                .col-md-4
                    .feature
                        i.icon.icon-Link.icon--lg.color--primary
                        h4 Patient / Counselor Relation
                        p
                            | Patients have the ability to follow-up their counselor, familiar with their case and history is available. We help create a comfortable continuity of care for both patient and provider.
                .col-md-4
                    .feature
                        i.icon.icon-Timer-2.icon--lg.color--primary
                        h4 Low Wait Times
                        p
                            | With many clinics experiencing patient backlog of 3-4 months, AT-GC removes this burden by our availability to see patients as soon as 1-2 days after referral, if needed.
                .col-md-4
                    .feature
                        i.icon.icon-Globe-2.icon--lg.color--primary
                        h4 Language Translation
                        p
                            | English and Spanish language services, with additional language translation services available upon request.
                .col-md-4
                    .feature
                        i.icon.icon-Calendar.icon--lg.color--primary
                        h4 Flexible Scheduling
                        p
                            | We work non-stop to provide your patients with the care and convenience they deserve. That is why we offer evening and weekend hours.
    section.text-center.space--sm
        .container
            .row
                .col-md-12
                    h2 Professional Partnerships
    section
        .container
            .row
                .col
                    .slider.slider--inline-arrows.slider--arrows-hover.text-center(data-arrows='true')
                        ul.slides
                            if partners
                                each partner in partners
                                    li.col-md-3.col-6
                                        img.image--lg(alt='Image', src='img/partners/'+partner)
    section.imageblock.switchable.feature-large.bg--secondary
        .imageblock__content.col-lg-6.col-md-4.pos-right
            .background-image-holder
                img(alt='image', src='img/custom/kid.jpg')
        .container
            .row
                .col-lg-5.col-md-7
                    h2 Billing & Finances
                    p
                        | We are entirely committed to promoting positive relationships with our referring institutions and partner companies.
                    p
                        | At AT-GC, we realize that like our genomes, no two genetic companies or practices are the same.
                    p
                        | To discuss collaboration and customized partnership options and bring genetic counseling care to your patient population, please contact us. Institutional, self-pay, and insurance billing options (in select locations) are available.
                    p
                        | This means that whether you are seeking a genetic counseling referral source without monetary commitment, or whether you would like to arrange personalized, ongoing genetic counseling support for your patient groups at a competitive institutional rate, we can accommodate the specific needs of your institution.
    include include/cta





