extends layout/main

block content
    section.text-center
        .container
            .row
                .col-md-10
                    h1 AT-GC Patient Guide
                    p.lead
                        | Learn what to expect from an AT-GC appointment.
    section.switchable.feature-large.bg--secondary
        .container
            .row.justify-content-around
                .col-md-5.d-flex.align-items-center
                    img.border--round.box-shadow-wide(alt='Image', src='img/custom/laptop-sofa.jpg')
                .col-md-7
                    .switchable__text
                        h2 What to expect
                        p.lead Our genetics consultations allow you to meet virtually with board-certified genetic counseling professionals. Each of our genetic counselors and our specialized medical professionals has extensive education and experience in the genetic counseling field.
                        a(href='telemedicine') Learn More »
    section.text-center
        .container
            .row
                .col-md-10.col-lg-8
                    h2 Appointment Process
    section
        .container
            .row.justify-content-center
                .col-md-10
                    .tabs-container.tabs--vertical
                        ul.tabs
                            li.active
                                .tab__title
                                    span.h5 Before the Appointment
                                .tab__content
                                    p.lead
                                        | After we receive your referral from your healthcare provider, we will contact you to schedule an appointment.
                                    p.
                                        You will receive an email with a link and visit code to access your telegenetic counseling appointment and instructions on how to virtually meet with your genetic counselor.
                                    p.
                                        You may be responsible for gathering personal and family health history. We ask that you fill out this information online before the appointment, if possible, using a secure link that we will provide you with our initial scheduling conversation.
                                    hr.short
                                    p.type--fade.type--italic
                                        | *If you do not have a healthcare provider, please contact us to review options
                            li
                                .tab__title
                                    span.h5 Initial Appointment
                                .tab__content
                                    p.lead
                                        | An AT-GC certified genetic counselor will contact you at your scheduled appointment time.
                                    p.
                                        Appointments take place through secure telephone or video conferencing and are often able to be virtually completed from the comfort of your home.
                                    p.
                                        Together, you and the genetic counselor review your personal and family history. Based on this information, the genetic counselor will discuss in detail which tests, if any, may be appropriate and the possible outcomes of the genetic testing.
                                    p.
                                        When ordering a test is appropriate, and you have chosen to proceed with genetic testing, we will guide you through each option and the steps to submit a blood or saliva sample for DNA processing.

                            li
                                .tab__title
                                    span.h5 Results Appointment
                                .tab__content
                                    p.lead
                                        | Your genetic counselor will contact you when the results of your test are available.
                                    p
                                        | We will interpret and discuss the meaning of your specific genetic testing results and will provide personalized information and recommendations related to your risk. We will also explain what these findings may mean for other family members.
                                    p
                                        | We will provide a summary of our conversations, recommendations, and the genetic testing results to your referring provider, who will follow up with you regarding the information provided by your genetic test.
                                    p
                                        | We will be available to you, without any additional fees, for six months following the genetic testing during which time you may contact us with any questions related to your genetics results. We are also happy to discuss coordinating testing for family members who may also wish to pursue genetic counseling and testing.

                                    hr.short
                                    p.type--fade.type--italic
                                        | *Test processing can take one to six weeks.

    section.text-center.testimonial.testimonial-1.bg--secondary
        .container
            .row
                .col-md-10
                    blockquote
                        | “In practice, our genetic counselors seek to uphold the Code of Ethics set forth by the National Society of Genetic Counselors. Advanced Tele-Genetic Counseling supports the terms of professionalism, competence, integrity, objectivity, veracity, dignity, accountability and self-respect set forth in this Code.”
                    h5
                        | Jessica Pack & Elizabeth Turner
                    span
                        | Co-founders, Advanced Tele-Genetic Counseling
