<!DOCTYPE html>
html(lang="en")
    head
        block head
            include ../include/head
    body
        a#start
        block nav
            include ../include/nav
        .main-container
            block content
            block footer
                include ../include/footer
