section.text-center
	.container
		.row
			.col-md-8.col-lg-6
				.cta
						h2 Questions?
						p.lead
							| We're here to help.
						a.btn.btn--primary.type--uppercase(href='faq')
							span.btn__text
								| Check Out Our FAQ
						p.type--fine-print
							| or 
							a.h4.font-weight-bold.color--primary(href="contact-us")
								| contact us