footer.text-center.space--sm.footer-5
    .container
        .row
            .col-md-12
                .heading-block
                    ul.list-inline.list--hover
                        li
                            a(href='telemedicine')
                                span Telemedicine
                        li
                            a(href='specialties')
                                span Specialties
                        li
                            a(href='news')
                                span News
                        li
                            a(href='contact-us')
                                span Contact Us
                div
                    ul.social-list.list-inline.list--hover
                        li
                            a(href='#')
                                i.socicon.socicon-google.icon.icon--xs
                        li
                            a(href='#')
                                i.socicon.socicon-twitter.icon.icon--xs
                        li
                            a(href='#')
                                i.socicon.socicon-facebook.icon.icon--xs
                        li
                            a(href='#')
                                i.socicon.socicon-instagram.icon.icon--xs
                div
                    span.type--fine-print
                        | ©
                        span.update-year 2018
                        |  Advanced Tele-Genetic Counseling
                div
                    ul.list-inline.list
                        li
                            a.type--fine-print(href='#')
                                span Code of Ethics
                        li
                            a.type--fine-print(href='#')
                                span Patient Rights and Responsibilities
                        li
                            a.type--fine-print(href='#')
                                span Privacy Policy
a.back-to-top.inner-link(href='#start', data-scroll-class='100vh:active')
    i.stack-interface.stack-up-open-big
script(src='js/flickity.min.js')
//script(src='js/easypiechart.min.js')
//script(src='js/parallax.js')
//script(src='js/typed.min.js')
//script(src='js/datepicker.js')
//script(src='js/ytplayer.min.js')
//script(src='js/lightbox.min.js')
//script(src='js/granim.min.js')
//script(src='js/jquery.steps.min.js')
//script(src='js/countdown.min.js')
//script(src='js/twitterfetcher.min.js')
//script(src='js/spectragram.min.js')
script(src='js/smooth-scroll.min.js')
script(src='js/scripts.js')