footer.text-center.space--sm.footer-5
    .container
        .row
            .col-md-12
                .heading-block
                    ul.list-inline.list--hover
                        li
                            a(href='telemedicine')
                                span Telemedicine
                        li
                            a(href='specialties')
                                span Specialties
                        li
                            a(href='news')
                                span News
                        li
                            a(href='contact-us')
                                span Contact Us
                div
                    ul.social-list.list-inline.list--hover
                        //li
                            a(href='#')
                                i.socicon.socicon-google.icon.icon--xs(title='',aria-hidden="true")
                        li
                            a(href='https://twitter.com/GeneticsByPhone', aria-label="Twitter", rel="noopener", target='_blank')
                                i.socicon.socicon-twitter.icon.icon--xs(title='twitter', aria-hidden="true")
                        li
                            a(href='https://www.facebook.com/advancedtelegeneticcounseling', aria-label="Facebook", rel="noopener", target='_blank')
                                i.socicon.socicon-facebook.icon.icon--xs(title='facebook', aria-hidden="true")
                        //li
                            a(href='#')
                                i.socicon.socicon-instagram.icon.icon--xs(aria-hidden="true")
                div
                    span.type--fine-print
                        | ©
                        span.update-year 2018
                        |  Advanced Tele-Genetic Counseling
                div
                    ul.list-inline.list
                        li
                            a.type--fine-print(href='https://www.nsgc.org/p/cm/ld/fid=12', rel="noopener", target='_blank')
                                span Code of Ethics
                        li
                            a.type--fine-print(href='/static/PatientRights.pdf', target='_blank')
                                span Patient Rights and Responsibilities
                        li
                            a.type--fine-print(href='/static/PrivacyPolicy.pdf', target='_blank')
                                span Privacy Policy
a.back-to-top.inner-link(href='#start', data-scroll-class='100vh:active', aria-label="Scroll Up")
    i.stack-interface.stack-up-open-big(aria-hidden="true")
script(src='js/jquery-3.1.1.min.js')
script(src='js/custom.js')
script(src='js/flickity.min.js')
//script(src='js/easypiechart.min.js')
//script(src='js/parallax.js')
//script(src='js/typed.min.js')
//script(src='js/datepicker.js')
//script(src='js/ytplayer.min.js')
//script(src='js/lightbox.min.js')
//script(src='js/granim.min.js')
//script(src='js/jquery.steps.min.js')
//script(src='js/countdown.min.js')
//script(src='js/twitterfetcher.min.js')
//script(src='js/spectragram.min.js')
script(src='js/smooth-scroll.min.js')
script(src='js/scripts.js')